.backgroud_color{
    height: 1200px;
    border: 1px solid #90A4AE;
    background-color: #F2F6F8;
   
}
.border{
  
    border:1px solid #90A4AE;
    width: 95%;
   
    margin: auto;
    margin-top: 20px;
    height: 60px;
    background-color: white;
}
.border>input{
    width: 60%;
    height: 60%;
   margin-top: 0.5%;
   margin-left: 0.5%;
   border: 0px solid transparent;
}

.border:hover.border>input{
    border: 1px solid #C6D2D9 ;
}

::placeholder {
   font-family: BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
   font-size: 2 rem;
   font-weight: 500;
   padding: 15px;
   
  }